extends layout

block content
	script(type="text/template", id="item-template")
		|<div class="player <%= selected ? 'selected' : '' %>">
		|	<div class="photo"><img src="<%- pictureUrl %>" class="photo"/></div>
		|	<span class="name"><%- playerName %></span>
		|	<span class="score"><%- score %></span>
		|</div>
	script(type="text/template", id="footer-template")
		|<div id="selectedPlayer" class="name"><%- playerName %></div>

	div(id="main")
		section(id="board)
			ul(id="leaderboard", class="leaderboard")
		footer(id="actions")
			div
				img(class="inc")
				img(class="dec")
