body {
	font-family:'Helvetica Neue',Helvetica,Arial,san-serif;
	font-weight:200;
	margin:50px 0;
	padding:0;-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;user-select:none
}

#outer {
	width:600px;
	margin:0 auto;
}

.player {
	padding:5px;
	cursor: pointer;
}

.player .name {
	display:inline-block;
	width:240px;
	font-size:1.75em;
	margin-left: 10px;
}

.player .score {
	display:inline-block;
	width:100px;
	text-align:right;
	font-size:2em;
	font-weight:700;
	color:#777;
}

div.selected {
	background-color:#cccccc;
}

ul {
	list-style-type: none;
	margin: 10px;
}

li {
	height: 60px;
	float: left;
}

.player.selected .score {
	color:#000;
	height: 50px;
}

.inc, .dec {
	/*position: absolute;*/
	/*right: 5px;*/
	/*top: 20px;*/
	/*display: none;*/
	cursor: pointer;
	width: 20px;
	height: 20px;
	z-index: 9999 important!;
}

.inc {
	/*right: 20px;*/
	/*margin-left: 20px;*/
	background:url("/images/plus.png");
}

.dec {
	/*margin-left: 10px;*/
	background:url("/images/minus.png");
}

img.photo {
	margin-left: 0px;
	height: 50px;
	max-height: 50px;
	max-width: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

div.photo {
	height: 50px;
	width: 50px;
	float: left;
}

#main {
	/*border-style:dashed;*/
	border-color:#ccc;
	border-width:4px;
	margin:50px 10px;
	width: 480px;
	padding: 20px;
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -300px;
	box-shadow: 10px 10px 5px #888888;
}


#board {
	overflow: scroll;
}

#actions {
	display: block;
}

#actions.div {
	display: block;
}

span {
	vertical-align: center;
}